.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    font-size: 1.5em;
    padding: 0px 10px;
    z-index: 2;
}

.home {
    margin-right: auto;
}

#bbs-logo-navbar {
    margin-top: 10px;
    margin-bottom: 5px;
    width: auto;
    height: 40px;
}

.navbar-link {
    padding: 8px 4px;
    background-color: #ffffff25;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}
