.header {
    width: 100vw;
    height: 100vh;
    background-color: #16423c;
}

.header-video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* .video-transition {
    position: absolute;
    bottom: -5vh;
    height: 10vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
    filter: blur(8px);
} */

.opening-text {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-text > p {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 5em;
    margin: auto;
    opacity: 0%;
    filter: blur(20px);
}

*.show {
    animation: fade-in 0.5s linear forwards;
}
     
.service-cards {
    width: 90vw;
    height: auto;
    margin: 30% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, [card-row] 1fr);
    row-gap: 30vh;
}

.card {
    border: 3px solid gray;
    border-radius: 30px;
    background-color: white;
    max-height: 70vh;
    height: 70vh;
    position: sticky;
    top: 10vh;
    color:rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 1px #000;
    font-size: 1em;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
}

.card.shrink {
    animation: shrink 1s linear forwards paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.card:nth-child(1) {
    grid-area: card-row 1;
    background-color: white;
    z-index: 1;
}

.card:nth-child(2) {
    grid-area: card-row 2;
    background-color: white;
    z-index: 2;
}

.card:nth-child(3) {
    grid-area: card-row 3;
    background-color: white;
    z-index: 3;
}

.card:nth-child(4) {
    grid-area: card-row 4;
    background-color: white;
    z-index: 4;
}

.sliding-container {
    width: 85%;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20vh 0;
    border: solid rgba(66, 71, 112, 0.06);
    border-width: 0 2px;
  }
  
  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50vh;
  }
  
  .slide {
    min-height: 60vh;
    padding: 0% 20% 0% 3%;
  }
  
  .slide > h3 {
    font-size: 200%;
  }
  
  .slide > p {
    font-size: 125%;
  }
  
  .anim-container {
    width: 50%;
    height: 60vh;
    position: sticky;
    top: 20vh;
    border: solid red 3px;
  }
  
  .anim {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.affiliations {
    width: 100vw;
    
    display: grid;
    justify-items: flex-end;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas:
        "mcdonalds ."
        "mcdonalds google"
        "apple google"
        "apple airbnb"
        ". airbnb";
    column-gap: 75px;
    margin-bottom: 25vh;
}

.mcdonalds, .google, .apple, .airbnb {
    width: 50%;
    height: auto;
    opacity: 0%;
    filter: blur(20px);
}

.google, .airbnb {
    justify-self: flex-start;
}

.mcdonalds {
    grid-area: mcdonalds;
}

.google {
    grid-area: google;
}

.apple {
    grid-area: apple;
}

.airbnb {
    grid-area: airbnb;
}

.reviews {
    width: 100vw;
    height: 75vh;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.review-card {
    display: inline-block;
    border: 3px solid gray;
    border-radius: 30px;
    background-color: white;
    width: auto;
    min-width: 25vw;
    height: 50vh;
}

.call-to-action {
    width: 100vw;
    height: 50vh;
    background-image: url('placeholder-waves.webp');
}

@keyframes fade-in {
    100% {
        opacity: 100%;
        filter: blur(0px);
    }
}

@keyframes shrink {
    100% {
        scale: 0.6;
        filter: blur(5px);
    }
}